*{
    margin: 0;
    padding: 0;
}
.navbar{
    background:transparent !important;
}
#banner-section{
    background: url("../images/banner-images/bg-Image-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.nav-link{
   color: white;
}

.nav-link:hover{
    color: green;
}

.navbar-nav{
    display: flex;
    gap: 30px;
}

.dark-background{
    background-color: rgba(0, 0, 0, 0.501);
    width: 100%;
    height: 100vh;
}

#banner-section .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}
.container-img{
    height: 50%;
    width: 70%;
}
.container-contain{
    background-color: #f2f8f1;
    padding: 25px;
}
.container-contain>button{
    background-color: #2eca7f;
}